.uiItems {
  width: 60%;
}
.item {
  text-align: left;
  color: black;
  padding: 5px;
  background-color: lightblue;
  float: left;
  width: 28%;
}
.newTask {
  text-align: left;

  color: black;
  padding: 5px;
  background-color: lightblue;
  float: right;
  width: 30%;
}
