.header {
  padding: 20px;
  text-align: center;
  background: #824670;
  color: white;
  font-size: 30px;
}
.uiItems {
  width: 60%;
  background-color: #c3d2d5;
}
.button {
  background-color: #824670
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.item {
  text-align: left;
  color: black;
  padding: 5px;
  background-color: #bda0bc;
  float: left;
  width: 28%;
  margin: 15px;
}
.newTask {
  text-align: left;
  margin: 15px;
  color: black;
  padding: 5px;
  background-color: #a2708a;
  float: right;
  width: 39%;
}
