body {
  background-color: #f4f4f8;
}
p {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
.taskButton {
  position: absolute;
  text-align: left;
  padding-left: 2em;

  width: 33.33%;
}
.header {
  padding: 20px;
  text-align: center;
  color: #fe4a49;
  width: 100%;
}
.uiItems {
  width: 66.66%;
  text-align: left;
  margin-left: 37%;
}
.uiform {
  text-align: left;
  padding-left: 2em;
  padding-top: 20px;
  border-style: solid;
  border-radius: 15px;
  border-color: #2ab7ca;
  background-color: #e6e6ea;
  height: 250px;
}
.field {
  margin-bottom: 5px;
}
.item {
  text-align: left;
  color: black;
  border-style: solid;
  border-radius: 15px;
  border-color: #fed766;
  padding: 15px;
  float: left;
  width: 28%;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #e6e6ea;
  height: 150px;
}
.newTask {
  text-align: left;
  margin: 15px;
  color: black;
  padding: 5px;
  background-color: #a2708a;
  float: right;
  width: 39%;
}
@media (max-width: 600px) {
  .uiform {
    width: 100%;
  }
  .uiItems {
    width: 100%;
  }
}
